<% layout('layouts/base') -%>
  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add Table</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="addtablefm" action="/admin/createtable" method="POST" data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Table Name<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="name" name="name" required="required" class="form-control col-md-7 col-xs-12" >
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bet">Bet Amount<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="bet" name="bet" required="required" class="form-control col-md-7 col-xs-12" >
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="percentage">Percentage<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="percentage" name="percentage" required="required" class="form-control col-md-7 col-xs-12" >
                          <input type="hidden" id="vl" name="vl" value="_vl">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tabletype">Show Target Lines<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="targetlines" name="targetlines" required="required" class="form-control col-md-7 col-xs-12" >
                            <option value="true">True</option>
                            <option value="false">False</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tabletype">Table Type<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="tabletype" name="tabletype" required="required" class="form-control col-md-7 col-xs-12" >
                            <option value="call-pocket-on-8ball">Call Pocket On 8 Ball</option>
                            <option value="call-pocket-on-every-ball">Call Pocket On Every Ball</option>
                            <option value="standard">Standard</option>
                          </select>
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        
                          <button type="submit" class="btn btn-success" >Submit</button>
                          <a class="btn btn-success pull-right" href="/admin/tablelist">Back</a>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>