<% layout('layouts/base') -%>
  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Edit User</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                  <form id="editlatlong" action="/admin/setlatlong" data-parsley-validate class="form-horizontal form-label-left" method="post">
                    <small style="display: block; text-align: center;">Lat, Long</small>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" value="<%= rslt.latlong %>" name="latlong">
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="hidden" name="id" value="<%= rslt.id %>">
                          <a class="btn btn-success " href="/admin/latlongs">Back</a>
                          <button type="submit" class="btn btn-success pull-right" >Submit</button> 
                        </div>
                      </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>