<style type="text/css">
    .nav li a {
      color: #fff !important;
    }
  
    .notification {
      background-color: #555;
      color: white;
      text-decoration: none;
      padding: 15px 26px;
      position: relative;
      display: inline-block;
      border-radius: 2px;
    }

    .notification:hover {
      background: red;
    }

    .notification .badge {
      position: absolute;
      top: -10px;
      right: -10px;
      padding: 5px 10px;
      border-radius: 50%;
      background: red;
      color: white;
    }
    .badge {
     
      background-color: #f08369;
      margin-left: 5px;
     
    }
</style>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a href="/user/dashboard">Dashboard</a></li>
      <li><a href="/user/add-funds">Add Funds</a></li>
      <li><a href="/user/games">Games</a></li>
      <li>
        <a href="/user/match-requests"
          >Match Requests <span class="badge"></span
        ></a>
      </li>
      <li><a href="/user/view-trans">View Transactions</a></li>
      <li><a href="/user/withdraw">Withdraw Money</a></li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->
