<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
</head>

<body>

    <div class="content-wrap">
        <!-- /Banner -->
        <div class="container youplay-content">
            <div class="row">
                <div class="col-md-12">
                    <%-body -%>
                </div>
            </div>

        </div>
        <!-- Footer -->
<%- include ../partials/foot %>