<%- include ../partials/header.ejs %>
<style>
   .bg{ margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: url('../../images/bg.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
   }
</style>  

<body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <%-body -%>
        </div>

<%- include ../partials/footer.ejs %>