<% layout('layouts/withoutsidebar') -%>
<section class="login_content">
 <h1 style="line-height: 30px;">Thank You. Your KYC is Under Review.</h1>
</section>
<script>
 setTimeout(function(){
    window.location.replace('intent:#Intent;action=com.poolgame.launch;category=android.intent.category.DEFAULT;category=android.intent.category.BROWSABLE;end');
 },5000)
</script>

