<div class="receipt">
    <table class="table-receipt">
        <thead>
        <tr>
            <th class="th-header"
                colspan="2">PAYMENT RECEIPT
            </th>
        </tr>
        </thead>
        <tbody>
        <%= responseData.RESPCODE %>
        <tr>
            <td class="td-bottom"
                colspan="2">Thank you!.
                <a href="intent:#Intent;action=com.poolgame.launch;category=android.intent.category.DEFAULT;category=android.intent.category.BROWSABLE;end">Go to App</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
