<% layout('layouts/withoutsidebar') -%>
<section class="login_content">
 <h1>OPERATION IS SUCCESSFULL!!</h1>  
  </section>
  <script>
  setTimeout(() => {
    window.location.replace('intent:#Intent;action=com.poolgame.launch;category=android.intent.category.DEFAULT;category=android.intent.category.BROWSABLE;end')
  }, 3000);
  </script>

