           <style type="text/css">
             .nav li a{color: #fff !important;}
             
           </style>
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav">
                      <li><a href="/user/dashboard">Dashboard</a></li>
                      <li><a href="/user/add-funds">Add Funds</a></li>
                      <li><a href="/user/games">Games</a></li>
                      <li><a href="/user/view-trans">View Transactions</a></li>
                      <li><a href="/user/withdraw">Withdraw Money</a></li>
                      <!-- <li><a href="/admin/commission">Commission</a></li> -->
                     <!--  <li><a href="/admin/redeemrequests">Redeem Request</a></li>
                      <li><a href="/admin/kycrequests">KYC Request</a></li>
                      <li><a href="/admin/tablelist">Pool Tables</a></li>
                      <li><a href="/admin/tablelist_vl">Virtual Pool Tables</a></li>
                      <li><a href="/admin/payment_history">Payment History</a></li>
                      <li><a href="/admin/difficulty_level">Difficulty Level</a></li> -->
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->